<!-- the popup dialog -->
<p-dialog header="Add Choice" [(visible)]="displayChoice" [width]="450" modal="true">
  <form>
    <div class="form-group">
      <label for="name1">Name*</label>
      <input type="text" class="form-control" name="name1" [(ngModel)]="choice.name" id="name1" placeholder="Choice">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="choice.detail" id="detail" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="description">Required</label>
      <select id="type" class="form-control" name="type" [(ngModel)]="choice.required">
        <option>true</option>
        <option>false</option>
      </select>
    </div>
  </form>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="addChoice()" label="Save"></button>
    <button type="button" pButton icon="fa-close" (click)="displayChoice=false" label="Cancel"></button>
  </p-footer>
</p-dialog>


<!-- the main body -->
<app-navbar></app-navbar>
<!-- the error messages -->
<p-growl [(value)]="msgs"></p-growl>

<!-- confirmation dialog -->
<p-confirmDialog></p-confirmDialog>

<body class="Site">
  <section class="Site-content">
  <div class="row">

    <div class="col-md-3" style="margin-top: 45px;">
      <div class="card px-4">
        <div class="card-body" style="color: black">
          <h4>Menu Item Details</h4>
          <hr>
          <h4>Name</h4>
          <p><img src="{{ menuItem.image }}"> {{ " " + menuItem.name}}</p>
          <h4>Description</h4>
          <p>{{menuItem.description}}</p>
          <h4>Status</h4>
          <p> {{menuItem.status}}</p>
          <h4>Price</h4>
          <p>{{menuItem.price}}</p>
          <h4>Category</h4>
          <p>{{menuItem.categoryName}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-9" style="margin-top: 45px;">
      <div class="row">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4>Manage Choices
              </h4>
            </div>
            <div class="col-sm-6">
              <button (click)="showDialog()" class="btn btn-outline-dark" type="button" data-toggle="modal">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span>Add</span>
              </button>
            </div>
      
          </div>
        </div>
        <p-table [value]="choiceList" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of choiceCols" [pSortableColumn]="col.field" style="font-size: 16px">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th style="font-size: 16px">Action</th>
              <th style="font-size: 16px">Options</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-choices>
            <tr>
              <td *ngFor="let col of choiceCols" style="font-size: 16px">
                {{choices[col.field]}}
              </td>
              <td style="font-size: 16px">
                <a class="edit" data-toggle="modal" (click)="editChoice(choices)">
                  <i class="fa fa-pencil" style="color: darkblue" aria-hidden="true"></i>
                </a>
                <a class="delete" data-toggle="modal" (click)="openDeleteChoicePop(choices)">
                  <i class="fa fa-trash" style="color:maroon" aria-hidden="true"></i>
                </a>
              </td>
              <td style="font-size: 16px">
                <a class="edit" data-toggle="modal" (click)="showOptions(choices)">
                  <button class="btn btn-outline-dark" type="button">Show/Add</button>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      
      </div>
</div>
      <div class="row" style="margin-top:70px;">
        <app-sizes></app-sizes>
      </div>
      
    </div>



    </div>
  </section>
  <app-footer></app-footer>
</body>