<body id="home">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" style="color:white">Moonshot</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-primary m-1" data-toggle="modal" data-target="#logInModal" 
            (click)="showLoginDialog()" >Log In</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-success m-1" data-toggle="modal" data-target="#signUpModal"
           (click)="showSignUpDialog()">Sign Up</button>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- HOME SECTION -->
<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-lg-block">
            <h1 class="display-4">Build
              <strong>customer relationship</strong> and improve
              <strong>re-visits</strong>
            </h1>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                <h3>Build your favorite food</h3>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                <h3>Easy checkout</h3>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                <h3>Customer offers and loyality management</h3>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</header>

<!-- CREATE HEAD -->
<section id="create-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-5">
          <h1 class="display-4">Create</h1>
          <p class="lead">Create your food. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sed, magni, veritatis aliquam sequi eveniet?
            Rerum quia accusantium alias provident perferendis</p>
          <a href="#" class="btn btn-outline-light">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CREATE SECTION -->
<section id="create-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Create your favourite food</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus provident sed mollitia, ab sint fuga quibusdam.
          At repellendus architecto nobis nesciunt suscipit, nisi ipsam quaerat?</p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, architecto, quaerat. Quis cum eius itaque ipsa magni
            quam, illo molestias
          </div>
        </div>

        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, architecto, quaerat. Quis cum eius itaque ipsa magni
            quam, illo molestias
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../assets/img/create-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
    </div>
  </div>
</section>

<!-- CHECKOUT HEAD -->
<section id="explore-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-5">

          <h1 class="display-4">Check out made easy</h1>
          <p class="lead">Customers do not have to stand in line to place an order as it can be done directly from their mobile devices.
            They not only place the order but also pay the bill without any hassel or wait period.
          </p>
          <a href="#" class="btn btn-outline-secondary">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CHECKOUT SECTION -->
<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/img/explore-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Explore & Connect</h3>
        <p>One click installation with easy setup. Support for guest mode.</p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Finding favorite food is on your finger tips. Satisfy your craving with out waiting in queue.
          </div>
        </div>

        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Pay the bills in your preferred way from where you are. Enjoy re-visit coupons and offers.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- SHARE HEAD -->
<section id="share-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-5">
          <h1 class="display-4">Loyal customers</h1>
          <p class="lead">Customer offers and loyality management. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sed, magni, veritatis aliquam sequi eveniet?
            Rerum quia accusantium alias provident perferendis</p>
          <a href="#" class="btn btn-outline-light">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- MAIN FOOTER -->
<footer id="main-footer" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-4">
          <h1 class="h4" style="color:white">Moonshot</h1>
          <p style="color:white">Copyright &copy; 2018</p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- CONTACT MODAL -->
<div class="modal fade text-dark" id="contactModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalTitle">Contact Us</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>
  </div>
</div>

</body>

<!-- LOGIN MODAL -->
<p-dialog header="Login to your Moonshot account" [(visible)]="displayLogin" [width]="450" >
      <div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <input class="form-control" placeholder="E-mail" id="email" name="email" type="email" autofocus ngModel required email autofocus
              #email="ngModel" (blur)="emailClicked()">
            <span class="help-block" *ngIf="!email.valid && email.touched && emailErr" style="color:red">
              Plese enter a valid email!</span>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Password" id="password" name="password" type="password" ngModel required #password="ngModel"
              (blur)="passwordClicked()" (focus)="passwordFocus()">
            <span class="help-block" *ngIf="!password.valid && password.touched && passwordErr" style="color:red">Plese enter password!</span>
          </div>
          <span class="help-block text-center" *ngIf="!authorized" style="color:red">
            <strong>Wrong email or password. Try again!</strong>
          </span>
        </form>
      </div>
      <p-footer>
        <button pButton type="button" (click)="onSubmit(f)" label="Login" style="width:100%; height:50px"></button>
      </p-footer>              
  </p-dialog>

  

  <!-- SIGNUP MODAL -->
  <p-dialog header="Sign up to create account" [(visible)]="displaySignup" [width]="450" >
    <div>
      <form (ngSubmit)="onSubmit(sform)" #sform="ngForm">
        <fieldset>
          <div class="form-group">
            <input class="form-control" placeholder="Full Name" id="name" name="name" type="input" ngModel required name1 #name1="ngModel">
          </div>
          <span class="help-block" *ngIf="!name1.valid && name1.touched" style="color:red">
            Plese enter name!</span>
          <div class="form-group">
            <input class="form-control" placeholder="E-mail" id="signupemail" name="signupemail" type="email" ngModel required email #email="ngModel">
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched" style="color:red">
            Plese enter a valid email!</span>
          <!--<div class="form-group">
            <input class="form-control" placeholder="Phone Number" name="phone" id="phone" ngModel type="number" min="0" max="10">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Company" name="company" id="company" ngModel type="input">
          </div>
        -->
          <div class="form-group">
            <input class="form-control" placeholder="Password" id="signuppassword" name="signuppassword" type="password" value="" ngModel required password #password="ngModel">
          </div>
          <span class="help-block" *ngIf="!password.valid && password.touched" style="color:red">
            Plese enter password!</span>
          <span class="help-block text-center" *ngIf="!signup" style="color:red">
            <strong>User already exists. Try Log in!</strong>
          </span>
        </fieldset>
      </form>
    </div>
    <p-footer>
      <button pButton type="button" (click)="onSubmitSignup(sform)" label="Sign Up" style="width:100%; height:50px"
       class="ui-button-success"></button>
      
    </p-footer>
  </p-dialog>


