<!-- the main body 
<app-navbar></app-navbar>
<p-growl [(value)]="msgs"></p-growl>

<div class="container" style="margin-top: 25px;">
    <p-fieldset [toggleable]="true">
        <p-header style="color:darkblue">Order Details</p-header>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="ui-g-4" style="font-size: 16px;">
                    <strong>Order ID:</strong>
                </div>
                <div class="ui-g-8">
                    <span style="font-size: 16px;">
                        <strong>{{ menu.name }}</strong>
                    </span>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="ui-g-4" style="font-size: 16px;">
                    <strong>Description:</strong>
                </div>
                <div class="ui-g-8">
                    <span style="font-size: 16px;">
                        <strong>{{ menu.description }}</strong>
                    </span>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <div class="ui-g-4" style="font-size: 16px;">
                    <strong>Status:</strong>
                </div>
                <div class="ui-g-8">
                    <span style="font-size: 16px;">
                        <strong>{{ menu.status }}</strong>
                    </span>
                </div>
            </div>
        </div>
    </p-fieldset> -->