<app-navbar></app-navbar>

<body class="Site">

<!-- HOME ICON SECTION -->
<section id="home-icons"  style="margin-top:120px; margin-bottom:120px; " class="Site-content">
  <div class="container">
    <div class="row" >
      <div class="col-md-4 mb-4 text-center" style="cursor: pointer;" routerLink="restaurant">
        <i class="fa fa-building-o mb-2 iconsize" ></i>
        <h3>Restaurant</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
      </div>
      <div class="col-md-4 mb-4 text-center" style="cursor: pointer;" routerLink="menu">
        <i class="fa fa-cutlery mb-2 iconsize"></i>
        <h3>Food</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
      </div>
      <div class="col-md-4 mb-4 text-center" style="cursor: pointer;" routerLink="table">
        <i class="fa fa-table mb-2 iconsize"></i>
        <h3>Tables</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 mb-4 text-center" style="cursor: pointer;" routerLink="order">
        <i class="fa fa-shopping-cart mb-2 iconsize"></i>
        <h3>Orders</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-gift mb-2 iconsize"></i>
        <h3>Offers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-bar-chart mb-2 iconsize"></i>
        <h3>Reports</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
      </div>     
    </div>
  </div>
</section>

<app-footer></app-footer>

</body>
  